@media only screen and (max-width: 1200px) {
  #home-top,
  #product-list-home,
  .h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#home-top img {
  width: 100%;
  height: auto;
}

#home-top p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

#home-top h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 200;
}

.h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#product-list-home {
  display: flex;
}

#product-list-home .product-card {
  border-style: none;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--bg-white);
  width: 15rem;
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  position: relative;
}

#product-list-home .product-image {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}

#product-list-home .product-title {
  font-weight: 100;
  margin: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

#product-list-home .product-price {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.5rem;
}

#product-list-home .cart-icon {
  width: 8%;
  right: 1rem;
  position: absolute;
  bottom: 1rem;
}

@media only screen and (max-width: 1100px) {
  #product-list-home {
    overflow-x: scroll;
  }
}

@media only screen and (min-width: 700px) {
  #home-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    place-items: center;
  }

  #home-top img {
    width: 30rem;
    height: auto;
  }
}
