header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

header h3 {
  font-size: 2.8rem;
  color: var(--text-primary);
  margin-right: 1rem;
}

#logo {
  width: 6rem;
  height: auto;
}

#navbar {
  opacity: 0;
  z-index: -1;
  position: fixed;
  background: var(--bg-white);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: opacity ease-in-out 0.3s;
}
#navbar a {
  color: var(--text-primary);
}
#navbar > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#navbar ul li a {
  font-size: 1.3rem;
  font-weight: 600;
}
#navbar:target {
  opacity: 1;
  z-index: 1;
}
#products_nav ul li a {
  font-size: 0.9rem;
  font-weight: unset;
}
.burger-menu-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
#navbar li {
  text-align: center;
}
#navbar button {
  padding: 0.8rem 1.5rem;
  background: var(--bg-white);
  border: none;
  color: var(--text-primary);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

/*---------  Dropdown on filter mobile first -----------*/
#filter_categories {
  position: relative;
  width: 1200;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#product_dropdown {
  position: absolute;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  background: var(--bg-white);
  border: none;
  color: var(--text-primary);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  width: 15rem;
  text-align: center;
}

#product_dropdown.active {
  max-height: 1000px; /* Adjust the max-height as needed */
  padding: 1rem;
}

#filter_button {
  width: 13rem;
  padding: 0.8rem 1.5rem;
  background: var(--bg-white);
  border: none;
  color: var(--text-primary);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: var(--box-shadow);
  text-align: center;
  list-style: none;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  header {
    align-items: center;
  }
  .burger-menu,
  .burger-menu-close {
    display: none;
  }
  #navbar {
    opacity: 1;
    z-index: 1;
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background: none;
    height: unset;
    gap: unset;
  }
  #navbar a {
    color: var(--text-primary);
  }
  #navbar > ul {
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background: var(--bg-white);
    box-shadow: var(--box-shadow);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
  }
  #navbar li {
    text-align: left;
  }
  #navbar ul li a {
    font-size: 1rem;
  }
  #navbar button {
    align-self: center;
    box-shadow: var(--box-shadow);
  }
  .nav-outer-width {
    width: 30%;
  }
  .nav-outer-width:nth-child(2) {
    text-align: right;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    padding: 1rem 0;
  }
}
