/* Css */
@import url(variables.css);
@import url(nav.css);
@import url(cart.css);
@import url(checkout.css);
@import url(index.css);
@import url(products.css);
@import url(signup.css);
@import url(single_product.css);
@import url(home.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background: var(--bg-primary);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-primary);
}

@media only screen and (min-width: 1200px) {
  main {
    padding: 1rem 0;
  }
}
