/* Css */
@import url(variables.css);
@import url(nav.css);
@import url(cart.css);
@import url(checkout.css);
@import url(index.css);
@import url(products.css);
@import url(signup.css);
@import url(single_product.css);
@import url(home.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background: var(--bg-primary);
}

main {
  margin: 0 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-primary);
}

.cart-icon, button {
  cursor: pointer;
}

footer {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 2rem;
  margin-top: 7rem;

}
 
footer address {
  height: 10rem;
  text-align: center;
  margin-bottom: 2rem;
}
 
footer h3 {
  margin-top: 1rem;
}
 
@media only screen and (min-width: 1000px) {
  footer address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
}

.front-header {
  margin-bottom: 0;
  display: block;
}
header .front-logo {
  position: absolute;
}

@media only screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
