:root {
    /* general colors */
    --bg-primary: #f6f4f1;
    --bg-secondary: #2f3542;
    --bg-product: #ffffff;
    --accent: #ff7f50;
    
    /* Text color*/
    --text-primary: #000000;
    --text-secondary: #f6f4f1;

}